*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    
}

body{
    width: 100%;
}



header{
/* padding: 0 50px; */
left: 0;
right: 0;
background-image: url(child-g17569c04a_1920.jpg);
/* background: rgba(0,0,0,0.5); */
/* background-color: #0a0b0b; */
/* overflow: hidden;
color:#FFFFFF ; */
background-position: center;
background-size: cover;
height: 109vh;

/* position: absolute; */

}

.overlay{
    background: rgba(50, 70, 80, 0.7);
    overflow: hidden;
    height: 100%;
}


body{
    width: 100%;
    /* height: 100vh; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
}

.navbar{
    width: 100%;
    align-items: center;
    
}

/* .navbar-one {
    background-color: RED;
    color: white;
    height: 40px;
    cursor: pointer;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid white;
    z-index: 1;
       
} */

.navbar1{
    background-color: RED;
    color: white;
    height: 40px;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid white;
    z-index: 1;  
}

.left > div+div{
    margin-left: 0px;
    margin-top:0px;
    margin-bottom: 0px;
    top: 0;
   
}

.right > div{
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0;   
}

/* .navbar-second{
    background-color: black; */
    /* overflow: hidden; */
    /* color: white;
    height: 70px;
    width: 100%; */
    /* position: sticky;
    position: fixed; */
    /* top: 0;
    padding-top: 6%; */
/* } */

.dropdown-menu{
    background:#efc641;
    
    
    
}

/* .sticky{
    position: fixed;
    top: 0;
    width: 100%;
} */

.icon-nav{
    padding-left: 5px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    
}

.lieu{
    padding: 20px;
}

.instagram{
    /* padding-right: 20px; */
}

.logo{
    padding: 20px;
    
}

.btn-nav{
    width: 130px;
    height: 50px;
    background: #efc641;
    /* border: 2px solid #fff; */
    outline: none;
    /* border-radius: 6px; */
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    /* margin-left: 40px; */
    transition: .5s;
}



li{
    list-style: none;
}

a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 30px;
    color: white;
    font-weight: 400;
}

ul a{
    text-decoration: none;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul a:hover{
    color: #ff7200;
}

a :active{
    color: blue;
}

.Donner_right{
    padding: 175px;
    color: white;
    float: right ;
    line-height: 35px;
    align-items: center;
    
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.btn_don{
    width: 100%;
    height: 50px;
    background: #efc641;
    /* border: 2px solid #fff; */
    /* outline: none; */
    /* border-radius: 6px; */
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    /* margin-left: 40px; */
    transition: .5s;
    border: 0px;
    
    
      
}

.card-group-md{
    display: flex;
    position: absolute;
    margin-top: 408px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    
}

.card{
    background: #efc641;
    border-right: solid 3px white;
    border-top:  solid 3px white;
   
}



.card-title{
    float: right;
    width: 80%;
    padding-top: 15px;
        
}


.card-text{
    float: right;
    width: 80%;
   
}




.card-title-sect1{
    width: 80%; 
}

.card-text-sect1{
    width: 80%; 
}

.icon-card{
    float: left;
    color: white;
    width: 20%;
    font-size: 4em;
    padding-left: 20px;
     
     
}

.card-sect1{
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    
}

.card-img-top{
    /* height: 200px; */
}

.progress{
    height: 10px;
}

.raised{
    display: flex;
    justify-content: space-between;
}

i{
    
}

.icon-link{
    
}

/* .icon-link{
    float: left;
    width: 200px;
} */


.btn{
        
} 

p a{
    color: orangered;
}

p a:hover{
    color: #000;
}

.section-one{
    text-align: center;
}

.section-two{
    background: url(child-g17569c04a_1920.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 80vh;

}

.dernier{
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 60px;
}

.card-sect{
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
       
}



.card-sect2{
    width: 300px;
    background: white;
    height: 250px;
}

.card-title-sect2{
    text-align: center;

}

.card-text-sect2{
    text-align: center;
    width: 80%;
    padding-left: 30px; 
}

.span2{
    text-align: center;
    padding-left:80px;
    color: green;
    font-size: 2em;
}

#card-sect{
   
}

.img-sect2{
    padding-left: 100px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.card-img-top-sect{
    border-radius: 50%;
    border: solid 2px #efc641;
    width: 100px;
    height: 80px;
          
}

.section-three{
    height: 80vh;
    color: white;
    font-weight: bold;
    background-color: #efc641;
}

.avis{
    text-align: center;
    padding-top: 40px;
}

.contener_slideshow
{
  width:610px;
  height:211px;
  overflow: hidden;
  position: relative;
  background: white;
  border-radius: 5px;
}
.slid_1, .slid_2, .slid_3
{
  position: absolute;
  width:610px;
  height:211px;
}
.slid_1{left: 0;}
.slid_2{left: 610px;
background-color: black;}
.slid_3{left: 1220px;}
.contener_slide
{
  width: 1220px;
  height: 211px;
  left:0px;
  position: absolute;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name: anim_slide;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name: anim_slide;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-name: anim_slide;
  animation-duration: 10s;
  animation-iteration-count:infinite;
  animation-name: anim_slide;
}
@-webkit-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}
@-moz-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}
@-ms-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}
@keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}

.img-carr{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px #efc641;
    margin-top: 10px;
}

.text-carr{
    color: rgb(143, 142, 142);
    padding-top: 20px;
}

.span-carr{
color:rgb(143, 142, 142) ; 
}


.section-four{
    height: 80vh;
}

.bloc{
    display: flex;
}

.bloc1{
    background: url(seth-doyle-YEK-1BZ7L1s-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 80vh;
}

.bloc2{
    color: white;
    background-color: black;
    width: 50%;
    height: 80vh;
}

.bloc2-text{
    padding-left: 90px;
    padding-top: 90px;
}

.bloc2-btn{
    color: white;
    /* text-align: center; */
    font-weight: bold;
    background-color: #efc641;
    border: 0px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: .5s;
}

.section-five{
    height: 100vh;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}



.card1-sect5{
    
    border-radius: 0px;
    background: "";
    
    /* text-align: center; */  
    
}

.card-body1-sect5{
    
}

.list-group-item-sect5{}

.card2-text-sect5{
    width: 80%;
    text-align: justify;
}

.a-sect{
    color: #ff7200;
    
    /* margin-left: 2px; */
    
}

.carousel-inner{
    width: 375px;
}



.footer{
    height: 50vh;
    background-color: black;
    display: flex;
    padding-top: 50px;
    align-items: center;
}


.footer-icon{
    display: flex;
    justify-content: space-between;
    color: white;
}

.text-footer{
    color: #efc641;
    font-weight: bold;
    text-align: left;
    align-items: center;  
}

.footer-p{
    color: white;
    text-align: left;
   
}

.button-footer{
    
}


.copyright{
    height: 15vh;
    background-color: rgb(80, 78, 78);
}


    
